<!DOCTYPE html>
<html>
<head>
  <title>OsPreference</title>
  <%= stylesheet_link_tag    "os_preference/application", :media => "all" %>
  <%= javascript_include_tag "os_preference/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
